span{
    background-color: rgb(161, 216, 238);
  }
  img{
      width: 400px;
      border-radius:20px;
  }
  body{
    font-family: Lucida Sans;
    font-size: 20px;
  }
  h2{
    text-shadow: 2px 2px 5px green;
   font-size: 30px;
   position: relative;
   right: -80px;
   text-decoration: underline;  
   
  }
  #projects{
    margin: 30px;
    text-align: justify;
    right: -50px;
    position: relative;
  }
  li{
    padding:20px;
  }
    
  