span{
    background-color: rgb(161, 216, 238);
  }
  h1{
      text-align: center;
  }
  img{
      width: 500px;
      border-radius: 50px;
      float: left;
      padding-top:20px;
  }
  body{
    font-family: Lucida Sans;
    font-size: 20px;
    background-color: #dfeada;
  }
  h2{
    text-shadow: 2px 2px 5px green;
   font-size: 30px;
   position: relative;
   right: -80px;
   text-decoration: underline;  
   
  }
  #projects{
      margin-left: 180px;
    position: relative;
        right: -50px; 
  display:flex;
  flex-direction: column;
   
  }
  .hhh{
      padding: 10px;
  }
  p{
    position: relative;
   right: -50px;  
  }
  h3{
    text-shadow: 2px 2px 5px pink;
    font-size: 30px;
    position: relative;
    right: -80px;
    text-decoration: underline;  
  }
    h4{
        position: relative;
        right: -50px; 
        font-size:30px;
    }
    dt{
        position: relative;
        right: -30px; 
    #hi{
        padding:10px;
    }
  